numpy==1.19.4
matplotlib==3.3.3
mplcursors==0.3
Pillow==8.1.0
keyboard==0.13.5
scipy==1.6.0
nibabel==3.2.1
nilearn==0.7.0
opencv-python==4.5.1.48
scikit-image==0.18.1
scikit-spatial==5.1.0
vedo
tabulate==0.8.7